*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    width: 100px;
    height: 30px;
    position: relative;
    display: block;
    margin: 20px auto;
    background-color: rgb(43, 55, 226);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(156, 160, 223);
    color: rgb(66, 35, 35);
}